<h1> MAKE A NEW CANDDDDYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY</h1>


<form action="/candies" method="post">
  <input type="text" name="candy[name]" placeholder="GIVE ME NAME">
  <input type="text" name="candy[tasty]" placeholder="is it tasty tho?🤮">
  <input type="submit">
</form>
