<div class="splash-image">
  <div class="ui raised very padded text container segment" id="splash-box">
    <p>Hey Welcome to Our Pizza Shop</p>
    <br>
    <br>
    <%= link_to "Create a Pizza", new_pizza_path, class: "ui inverted green button"%>
    <br>
    <br>
    <%= link_to "See All Pizzas", pizzas_path, class: "ui inverted yellow button" %>
  </div>
</div>
